{% load static %}
<!DOCTYPE html>
<html>
<head>

<title>POO</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="/">
            🐍 Projet Django
        </a>

        <div class="navbar-nav ms-auto">
            <a class="nav-link" href="/">Accueil</a>
            <a class="nav-link" href="/simulation/">Simulation</a>
            <a class="nav-link" href="/exceptions/">Exceptions</a>
            <a class="nav-link" href="/poo/">POO</a>
        </div>

    </div>
</nav>

<div class="container mt-5">

<div class="card shadow">
<div class="card-body">

<h1>📚 Programmation Orientée Objet</h1>

<p>
La POO permet de créer des objets à partir des classes.
</p>

<pre>
class Personne:
    def __init__(self, nom):
        self.nom = nom
</pre>

</div>
</div>

<div class="card shadow mt-4">
<div class="card-body">

<h3>Concepts de base</h3>

<table class="table table-bordered">

<tr>
<th>Concept</th>
<th>Description</th>
</tr>

<tr>
<td>Classe</td>
<td>Modèle permettant de créer des objets</td>
</tr>

<tr>
<td>Objet</td>
<td>Instance créée à partir d'une classe</td>
</tr>

<tr>
<td>Attribut</td>
<td>Variable appartenant à un objet</td>
</tr>

</table>

</div>
</div>

</div>

</body>
</html>